.addService{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addService input{
    width: 40%;
}
.addService textarea{
    width: 40%;
}
.span{
    background: #0B5ED7;
    color: #fff;
    display: inline-block;
    padding: 4px 24px;
    -webkit-clip-path: polygon(100% 0,93% 50%,100% 99%,0 100%,7% 50%,0 0);
    clip-path: polygon(100% 0,93% 50%,100% 99%,0 100%,7% 50%,0 0);
}